
<section id="washerDashboardWrapper">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-md-3 padding-0 dashboard-col-2" >
                <app-washersidenav></app-washersidenav>

            </div>
            <div class="col-md padding-0">
                <router-outlet style="font-family: 'Quicksand', sans-serif;">
                </router-outlet>
                <!-- <img class="display" src="../../../../assets/images/washer.webp" width="105%" height="500"> -->
            </div>
        </div>
    </div>
</section>
