#washerHomepage{
    background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),url("https://t4.ftcdn.net/jpg/03/30/59/77/360_F_330597748_ayGAzvC1TmXkDrxx5Eg0pD5nH0sXi0T9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}